#root {
  width: 100%;
}
.container {
  width: 100%;
}

.accordion {
 width: 100%;
}

.accordion-item {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    width: 100%;
  }
  
  
  .active, .accordion-item:hover {
    background-color: #ccc;
  }
  
  .accordion-body {
    padding: 0 18px;
    background-color: white;
    overflow: hidden;
  }